<div class="container background" fxLayout="row wrap" fxLayoutAlign="center start">
    <mat-card fxFlex="60" fxFlex.sm="100" fxFlex.xs="100">
        <mat-card-header>
            <mat-card-title>Notifications
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content fxLayout="row wrap" fxLayoutAlign="center center" >
          <mat-card fxFlex="80" fxFlex.sm="100" fxFlex.xs="100" fxFlexAlign="center" style="margin-top: 20px;">
              <mat-card-header>
                  <mat-card-title>Title</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                  rerum eveniet, ratione dolorem aliquam dolorum!
              </mat-card-content>
              <mat-card-actions align="end">
                  <button mat-button color="primary" >delete <mat-icon>delete</mat-icon></button>
                  
              </mat-card-actions>
          
          </mat-card>
          <mat-card fxFlex="80" fxFlexAlign="center" fxFlex.sm="100" fxFlex.xs="100" style="margin-top: 20px;">
              <mat-card-header>
                  <mat-card-title>Title</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                  rerum eveniet, ratione dolorem aliquam dolorum!
              </mat-card-content>
              <mat-card-actions align="end">
                  <button mat-button color="primary" >delete <mat-icon>delete</mat-icon></button>
                  
              </mat-card-actions>
          
          </mat-card>
        </mat-card-content>
       
    </mat-card>
  
</div>