.main{
    background:red;
    width: 100%;
    margin: 0;
    padding: 0;

    #search_bar{
       
        height: 3.3em;
        padding: 10px;
        font-family:'Roboto',sans-serif;
        border: none;
        outline: none;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.32);
        padding-left: 5.3em;
        
    }
    #search_btn{
      z-index: 2;
      
     float: right;
     margin-top: -40px;
     color: black;
     width: 4em;
    }
}