<div class="main" fxLayout="row wrap" fxLayoutAlign="center">
  <mat-toolbar color="primary" fxShow  fxLayout="row wrap" fxLayoutAlign="center center">
      <span fxFlex="20"  fxLayout="row" fxLayoutAlign="start center" >
        <button mat-icon-button fxHide fxShow.sm="true" fxShow.xs="true" matTooltip="menu" >
            <mat-icon class="mat-18">menu</mat-icon>
        </button>
        Mallcart</span>
      <form action="" method="get"  fxFlex="50"  fxLayout="row wrap" fxShow fxHide.sm="true" fxHide.xs="true">
        <input type="text" name="search" placeholder="search electronics and more..." id="search_bar" fxFlex="100">
        <button mat-flat-button  fxLayoutAlign="end end"  fxFlexAlign="start" id="search_btn" matTooltip="search">
            <mat-icon>search</mat-icon>
        </button>

      </form>

      <div fxFlex="40" fxHide fxShow.sm="true" fxShow.xs="true">

      </div>

      <div class="" style="margin-right:-10px;" fxLayout="row-reverse"  fxShow fxHide.sm="true" fxHide.xs="true" fxLayoutGap="5px" fxFlex="30" fxFlexAlign="center"  >
        <a href="" class="primary white-text" mat-flat-button>LOGIN</a>
        <a href="" class="primary white-text" mat-flat-button>START SELLING</a>
        <a href="" class="primary white-text" mat-flat-button>CART</a>
        
      </div>

      <div  style="margin-right:-10px;" fxLayout="row-reverse" fxFlex="40"  fxHide fxShow.sm="true" fxShow.xs="true"  fxLayoutGap="5px"  fxFlexAlign="center"  >
        <a mat-icon-button href="">
          <mat-icon  class="mat-18 white-text" matTooltip="account">person</mat-icon>
        </a>
        <a mat-icon-button href="" >
          <mat-icon  class="mat-18 white-text" matTooltip="shopping cart">shopping_cart</mat-icon>
        </a>
        <button mat-flat-button color="primary" matTooltip="sell on mallcart">SELL</button>
        <a mat-icon-button href="">
            <mat-icon   class="mat-18 white-text" matTooltip="search">search</mat-icon>
        </a>
        </div>
  </mat-toolbar>
  
</div> 