<footer class="footer" fxLayout="row " fxShow fxHide.sm="true" fxHide.xs="true" fxLayoutAlign="start center" fxLayoutGap="10px">

<div fxFlex="40">eoubu</div>
<div fxFlex="60" fxFlexFill fxLayout="row wrap" fxLayoutAlign="center start">
<form action="" class="offer-form" method="get" fxFlex="100" fxFlexFill fxLayout="row" fxLayoutAlign="center start">
  <input type="email" fxFlex="60" placeholder="email for offers" style="width: 100%;">
  <button mat-flat-button fxFlex="20" color="accent">SEND ME OFFERS</button>
</form>
</div>

</footer>
