<mat-toolbar color="accent" fxLayout="row" fxLayoutAlign="start center">
    <span class="white-text" fxFlex="20">LOCATRA</span>
    <div fxFlex="80" fxLayout="row-reverse">
      <button mat-button class="white-text">SEARCH <mat-icon>search</mat-icon></button>
      <button mat-button class="white-text">ADD A BUSINESS</button>
      <button mat-button class="white-text">CATEGORIES</button>
    </div>
</mat-toolbar>
<div class="section-2" fxLayout="row" fxLayoutAlign="center center">
  <form action=""  method="get" fxFlex="60" fxLayout="row" fxLayoutAlign="center center">
    <input type="text" name="" id="" placeholder="Search for hot regions in town" fxFlex="80">
    <button mat-raised-button fxFlex="20" color="accent" style="color:white;">search</button>
  </form>
</div>
<div class="separator mat-title" style="background: white;color: black;height: 3em;padding-top: 20px;">
TOP TRENDING SPOTS IN LIMBE <mat-icon >trending_up</mat-icon>
</div>
<mat-divider></mat-divider>
<div class="section-3" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
<mat-card  fxFlex="20">
    <mat-card-header>
        <mat-card-title>DOWN Beach</mat-card-title>
    </mat-card-header>
    <img matCardImage src="../../assets/resort_hotels_fires_coast_platform_ladder_evening_26760_1920x1200.jpg ">
    <mat-card-content fxLayout="column" style="height: 4em;">
       <span fxFlex="3em"> Lorem ipsum dolor cidunt similique quo! Placeat, ipsam.</span>
       <span fxFlex="1em">
         <mat-icon color="accent">star</mat-icon>
         <mat-icon color="accent">star</mat-icon>
         <mat-icon color="accent">star</mat-icon>
         <mat-icon color="accent">star</mat-icon>
       </span>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="accent">VIEW</button>
        
    </mat-card-actions>
    
</mat-card>
<mat-card  fxFlex="20">
    <mat-card-header>
        <mat-card-title>DOWN Beach</mat-card-title>
    </mat-card-header>
    <img matCardImage src="../../assets/resort_hotels_fires_coast_platform_ladder_evening_26760_1920x1200.jpg ">
    <mat-card-content fxLayout="column" style="height: 4em;">
       <span fxFlex="3em"> Lorem ipsum dolor cidunt similique quo! Placeat, ipsam.</span>
       <span fxFlex="1em">
         <mat-icon color="accent">star</mat-icon>
         <mat-icon color="accent">star</mat-icon>
         <mat-icon color="accent">star</mat-icon>
         <mat-icon color="accent">star</mat-icon>
       </span>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="accent">VIEW</button>
        
    </mat-card-actions>
    
</mat-card>
<mat-card  fxFlex="20">
    <mat-card-header>
        <mat-card-title>DOWN Beach</mat-card-title>
    </mat-card-header>
    <img matCardImage src="../../assets/resort_hotels_fires_coast_platform_ladder_evening_26760_1920x1200.jpg ">
    <mat-card-content fxLayout="column" style="height: 4em;">
       <span fxFlex="3em"> Lorem ipsum dolor cidunt similique quo! Placeat, ipsam.</span>
       <span fxFlex="1em">
         <mat-icon color="accent">star</mat-icon>
         <mat-icon color="accent">star</mat-icon>
         <mat-icon color="accent">star</mat-icon>
         <mat-icon color="accent">star</mat-icon>
       </span>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="accent">VIEW</button>
        
    </mat-card-actions>
    
</mat-card>
<mat-card  fxFlex="20">
    <mat-card-header>
        <mat-card-title>DOWN Beach</mat-card-title>
    </mat-card-header>
    <img matCardImage src="../../assets/resort_hotels_fires_coast_platform_ladder_evening_26760_1920x1200.jpg ">
    <mat-card-content fxLayout="column" style="height: 4em;">
       <span fxFlex="3em"> Lorem ipsum dolor cidunt similique quo! Placeat, ipsam.</span>
       <span fxFlex="1em">
         <mat-icon color="accent">star</mat-icon>
         <mat-icon color="accent">star</mat-icon>
         <mat-icon color="accent">star</mat-icon>
         <mat-icon color="accent">star</mat-icon>
       </span>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="accent">VIEW</button>
        
    </mat-card-actions>
    
</mat-card>
</div>

<app-footer></app-footer>