<div style="padding-top:3em;">
  <form action="" method="get" fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-form-field  fxFlex="70">

          <input matInput style="font-size: 120%;"
                 type="text"
                 placeholder="Phone Number"
                 >
                 <span matSuffix><mat-icon class="mat-18">call</mat-icon></span>
    </mat-form-field>
    <br>
    <br>

    <mat-form-field  fxFlex="70">

        <input matInput style="font-size: 125%;"
               type="password"
               placeholder="password"
               >
               <span matSuffix ><mat-icon class="mat-18">visibility</mat-icon></span>
  </mat-form-field>
  <button mat-raised-button  fxFlex="70" class="white-text login-btn" color="accent" (click)="loginSnackBar()" >Login</button>
  </form>
</div>
