<div class="de background" fxLayout="row wrap" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="10px" fxLayoutGap.sm="10px">
    <div class="right-panel" fxFlex="40" fxLayout="column" fxLayoutAlign="center start">
        <div fxFlex="90" fxLayout="row wrap" fxLayoutAlign="center center" fxFlexFill>
            <img src="../../assets/phone 2.jpg" alt="" fxFlexAlign="center" srcset="">
        </div>
        <div fxFlex="10" fxLayout="row" fxFlexFill fxLayoutGap="10px" >
            <button mat-raised-button fxFlex="50" href="" color="accent" class="white-text">ADD TO CART</button>
            <a mat-raised-button fxFlex="50" href="" class="white" >ADD TO WISHLIST</a>
        </div>
    </div>
    <div fxFlex="60">
        <mat-card>
            <mat-card-header>
                <mat-card-title class="primary-text">SAMSUNG LAPTOP6 IMAGE FILE IS LEFT</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-list>
                        <div fxLayout="row" fxLayoutAlign="start center" style="height: 3em;">
                                <div fxFlex="20" class="primary-text" >
                                    price
                                </div>
                                <div fxFlex="80" style="font-size: 150%;">
                                    47000FCFA
                                </div>
                         </div>
              
                    <div fxLayout="row" fxLayoutAlign="start center" style="height: 3em;">
                            <div fxFlex="20" class="primary-text" >
                                product state
                            </div>
                            <div fxFlex="80">
                                ORIGINAL
                            </div>
                     </div>
                </mat-list>

                <div fxLayout="row" fxLayoutAlign="start center" style="height: 3em;">
                        <div fxFlex="20" class="primary-text" >
                            location
                        </div>
                        <div fxFlex="80">
                           MOLIKO, BUEA - <span style="color: grey;margin-left: 10px"> Cameroon</span>
                           <span style="color: grey;margin-left: 10px"> posted today</span>
                        </div>
                 </div>


                <div fxLayout="row" fxLayoutAlign="start center" style="height: 3em;">
                        <div fxFlex="20" class="primary-text" >
                            verification
                        </div>
                        <div fxFlex="80">
                               This product has been verified
                            </div>
                        </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="20" class="primary-text">
                            delivery
                        </div>
                        <div fxFlex="80">
                                delivery is free within 3days if you're located in southwest
                            </div>
                        </div>

                <div fxLayout="row wrap" fxLayoutAlign="start center" style="height: 5em;" fxLayoutGap="10px">
                    <button mat-button fxFlex="20" >share <mat-icon >share</mat-icon></button>
                    <button mat-button fxFlex="20" color="primary" >visit shop <mat-icon>reply</mat-icon></button>
                </div>
                <mat-divider></mat-divider>
                <div class="container" style="min-height: 10em;" fxLayout="column wrap" fxLayoutAlign="center center">
                    <div fxFlex="20" class="primary-text" style="font-size: 120%;">
                        DESCRIPTION 
                    </div>
                    <div fxFlex="80">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Libero voluptas odit facilis delectus nisi tempora placeat,
                         fugit quia asperiores a alias error eveniet harum voluptates veniam eius,
                         provident consequatur consectetur.
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="container" style="min-height: 10em;" fxLayout="column wrap" fxLayoutAlign="center center">
                        <div fxFlex="20" class="primary-text" style="font-size: 120%;">
                            SPECIFICATION 
                        </div>
                        <div fxFlex="80" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
                            <div fxFlex="60" fxFlexAlign="center" fxFlex.sm="70" fxFlex.xs="80">
                                    <mat-list >
                                            <mat-list-item>
                                                PROCESSOR- <span class="shift-right">Intel QUARD</span>
                                            </mat-list-item>
                                            <mat-list-item>
                                                    PROCESSOR SPEED- <span class="shift-right">4.5GHz</span>
                                                </mat-list-item>
                                                <mat-list-item>
                                                        HDD- <span class="shift-right">450GB</span>
                                                    </mat-list-item>
                                                    <mat-list-item>
                                                            MONITOR- <span class="shift-right">20"</span>
                                                        </mat-list-item>
                                        </mat-list>
                            </div>
                        </div>
                    </div>

            </mat-card-content>
            <mat-divider></mat-divider>
           
            <mat-card-footer style="padding: 10px;color: grey;">
                <mat-list >
                    <mat-list-item>
                        <mat-icon matListIcon class="mat-18">info_outline</mat-icon>
                        Notice
                    </mat-list-item>
                </mat-list>
                This product and all other products on this site have been verified and ensured it can be available to the buyer
               and from the seller any product which is not yet verified or sold by a non-shop owner seller, 
               can be identified with a red text stating <span style="color: red">not verified yet!</span>
               such product <b>CAN NOT</b> be garanteed to be available
            </mat-card-footer>
        </mat-card>
    </div>
</div>
