.main{
    position: relative;
    top: 10px;
    max-width:800px;
    height:500px;
    background: white;
    margin:auto;
    box-shadow: 0 2px 6px rgba($color: #383737, $alpha: .324);
}
.small-screen{
    width:100%;
}
.switch-form{
    
    width: 50%;
    left: 25%;
    height: 3.2em;
    
}