<mat-toolbar color="primary" fxHide fxShow.xs="true" fxShow.sm="true" fxLayout="row wrap">
    <span fxFlex="30">Registration Form</span>
    <span fxFlex="50"></span>
    <div fxLayout="row-reverse" fxFlex="20">
      <button mat-icon-button>
          <mat-icon class="mat-18">close</mat-icon>
      </button>
    </div>
</mat-toolbar>
<div class="main" fxLayout="row wrap" fxLayoutAlign="center center">

  <div class="primary" fxFlex="40" fxHide fxShow.lg="true" fxFlexFill fxLayout="column wrap">
    <span class="mat-display-1 white-text" fxFlexAlign="center">Login</span>
  </div>

  <div class="" fxFlex="60" fxFlex.md="60" fxFlex.xs="90" fxFlex.sm="80"  fxFlexFill>
   
<app-login-form></app-login-form>
    <br>
      <a href="" mat-raised-button  class="white switch-form">Register</a>
  </div>

</div>