<div class="background-container">

</div>
<div class="main background"  fxLayout="row" fxLayoutAlign="center start">

<div class="section1"  fxFlex="40" fxFlex.sm="100" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="center center">
<app-sell-form></app-sell-form>
</div>
<div class="section2 "  fxFlex="60" fxShow fxHide.sm="true" fxHide.xs="true" fxLayout="column" fxLayoutAlign="center center" style="height:18em;">
 <mat-card fxFlex="100">
     <mat-card-content fxLayout="column" fxLayoutAlign="center center" style="height:15em">
        <span class="mat-display-1" fxFlex="80" style="text-align: center;margin-top:20px;" fxFlexAlign="center">
            <span class="mat-display-2 primary-text">BUILD</span> 
             YOUR MARKET, GET CUSTOMERS, 
             <span class="mat-display-2 secondary-text">EXPAND</span> 
             YOUR BUSINESS TERRITORY
          </span>
          <span class="mat-subheading-1"  fxFlex="20" style="font-size:200%;font-weight:lighter">
           <mat-icon class="mat-18">arrow_back</mat-icon> Fill the form on the left to get started
          </span>     </mat-card-content>
     
 </mat-card>
</div>

</div>